
<h1>What Burger Would You Like to Eat?</h1>


<form>
  <div class="form-group">
    <label for="bn"></label>
    <input type="text" id="bn" name="name">
  </div>
  <button type="submit" class="btn btn-primary">ORDER!</button>
</form>




<h2>Burgers to Taste!</h2>
<ul>
  {{#each burgers}}
  {{#unless this.devoured}}
    <li>
      <p>{{burgersType}}</p>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers I've Tasted!</h2>
<ul>
  {{#each burgers}}
  {{#if this.devoured}}
    <li>
      <p>{{burgersType}}</p>
    </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
  
  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type ="text" id="burger" name="name">
  </div>

<button type="submit">Add Burger</button>
</form>
