
<h1>What Burger Would You Like to Eat?</h1>


<form>
  <div class="form-group">
    <label for="bn"></label>
    <input type="text" id="bn" name="name">
  </div>
  <button type="submit" class="btn btn-primary">ORDER!</button>
</form>




<h2>Burgers to Taste!</h2>
<ul>
  {{#each burgers}}
    <li>
      <p>{{burgersType}}</p>
      <p>{{#unless devoured}}</p>
    </li>
  {{/each}}
</ul>

<h2>Burgers I've Tasted!</h2>
<ul>
  {{#each burgers}}
    <li>
      <p>{{burgersType}}</p>
      <p>{{#if devoured}}</p>
    </li>
  {{/each}}
</ul>
